@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #576ce3;
  color: white;
}

.nav-link-item {
  position: relative;
  text-decoration: none;
}

.nav-link-item:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #F44749;
  transition: .5s;
}

.nav-link-item:after {
  left: 0;
  bottom: -10px;
}

.nav-link-item:hover:after {
  width: 100%;
}

.active {
  color: #F44749;
}

.card-wrapper {
  width: 50%;
}

.card-one {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card-five {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-sizing: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card-one::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/cefr-img.webp');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
  z-index: -1;

}

.card-two::before {
  background-image: url('./assets//news-img2.jpg');
  margin-top: 42px;
}

.card-three::before {
  background-image: url('./assets/news-img3.jpg');
  margin-top: 42px;
}

.card-four::before {
  background-image: url('./assets/news-img4.jpg');
  margin-top: 42px;
}

.card-five::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/news-img5.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
  z-index: -1;
}

.card-six::before {
  background-image: url('./assets/news-img6.jpg');
}

.card-seven::before {
  background-image: url('./assets/news-img7.jpg');
}

.card-eight::before {
  background-image: url('./assets/process-img.jpg');
}

.card-nine::before {
  background-image: url('./assets/raled-img.jpg');
  height: 600px;
}

.card-ten::before {
  background-image: url('./assets/training-img.jpg');
  height: 600px;
}

.card-one:hover {
  cursor: pointer;
}

.card-five:hover {
  cursor: pointer;
}

.card-one:hover::before {
  background-size: 120%;
}

.card-five:hover::before {
  background-size: 120%;
}

.card-content {
  margin-top: 65%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
  padding: 22px 15px;
}

.card-content2 {
  margin-top: 60%;
}

.card-content3 {
  margin-top: 52%;
}

.card-content4 {
  margin-top: 60%;
}

.card-content5 {
  margin-top: 61%;
}

.card-content6 {
  margin-top: 55%;
}


.scrolled {
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bodysection {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  background-image: url('../src/assets/bodyImg.jpg');
}

.partner-cart {
  position: relative;
  display: inline-block;
}

.partner-cart img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.partner-cart:hover {
  cursor: pointer;
}

.partner-cart:hover img {
  filter: grayscale(0%);
  transition: all 0.3s;
}

.footer {
  background-image: url('./assets/footer-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 400px;

}

.footer-content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
}

.overlay {
  max-width: 100vw;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, var(--dark-color), transparent 200%);

}

.hero-video {
  /* height: 1000px; */
  background-size: cover;
  /* position: relative; */
  max-width: 100%;
  z-index: -1;
}

#bg-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content {
  /* position: absolute; */
  z-index: 2;
  color: white;
  text-align: center;
}

.about {
  background-image: url('./assets/about-header-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.about-bg-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.about-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 1));
  width: 100%;
  height: 80%;
}

.service {
  background-image: url('./assets//service-header-img.jpg');
  background-size: cover;
}

.projects {
  background-image: url('./assets/projects-header-img.jpg');
  background-size: cover;
}

.experts {
  background-image: url('./assets/experts-header-img.jpg');
  background-size: cover;
}

.carousel-item1 {
  background-image: url('./assets/header-img2.jpg');
  background-size: cover;
}

.carousel-item2 {
  background-image: url('./assets/header-img1.jpg');
  background-size: cover;
}

.carousel-item3 {
  background-image: url('./assets/header-img3.jpg');
  background-size: cover;
}

.carousel-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
  position: relative;
  z-index: 3;
}

.hero-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9));
  position: relative;
  z-index: 20;
  max-width: 100vw;
  width: 100%;
  height: 100px;
}

.service-card {
  box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.61);
}

.we-about {
  background-image: url('./assets/about-img1.jpg');
}

.our-goal {
  background-image: url('./assets/about-img2.jpg');
  background-size: cover;
  max-width: 100vw;
}

.our-goal-textBg {
  background-color: rgba(0, 0, 0, 0.5);
}

.about-card {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.about-img3BG {
  background-image: url('./assets/about-img3.jpg');
  background-size: cover;
  height: 635px;
  background-position: center;
}

.note-icon {
  background: #47ADE0;
}

.info-tab {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: -104px;
}

.info-tab {
  float: left;
  margin-left: -23px;
}

/* .note-icon::before {
  font-size: 23px;
  content: "\e911";
  top: 8px;
  left: 8px;
} */
/* .info-tab::before,
.info-tab::after {
  display: inline-block;
  color: #fff;
  line-height: normal;
  font-family: "icomoon";
  position: absolute;
} */

.note-icon i::before {
  background: #1d7ead;
}

.info-tab i::before {
  width: 20px;
  height: 20px;
  box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.info-tab i::before,
.info-tab i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -15px;
  transform: rotateX(60deg);
}

.info-tab i::after {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  bottom: -18px;
}

/* .info-tab i::before,
.info-tab i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -15px;
  transform: rotateX(60deg);
} */
/* .note-icon::after {
  font-size: 17px;
  content: "\e912";
  top: 9px;
  left: 19px;
} */
/* .info-tab::before,
.info-tab::after {
  display: inline-block;
  color: #fff;
  line-height: normal;
  font-family: "icomoon";
  position: absolute;
} */
.about-card1 {
  background-image: url('./assets/about-card-bg1.png');
  background-size: cover;
}

.disc-list {
  list-style-type: disc;
}

.about-card2 {
  background-image: url('./assets//about-card-bg2.png');
  background-size: cover;
}

.card-image {
  background-image: url('./assets/cardImg.jpg');
  background-size: cover;
  background-position: center;
}

.card-image2 {
  background-image: url('./assets/cardImg2.png');
  background-size: cover;
  background-position: center;
}
.card-image3 {
  background-image: url('./assets/cardImg3.jpg');
  background-size: cover;
  background-position: center;
}
.contact-img{
  background-image: url('./assets/contact-img.png');
  background-size: cover;
}